/* Copyright © 2023 Matteo Collica (Matypist) */

/* https://github.com/sapienzastudentsnetwork/sapienzastudentsnetwork.github.io */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #132441 !important;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
    cursor: pointer;
    transition: transform 150ms;
    transition: filter 0.3s ease;
}

a:hover {
    filter: brightness(0.9); /* Darkens the element by reducing brightness */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 12vh);
}

.white-color {
    color: white !important;
}

.groups-justify-content {
    justify-content: start !important;
}

.discord-justify-content {
    justify-content: end !important;
}

.translate-below:hover {
    transform: translateY(8px);
}

.translate-right:hover {
    transform: translateX(8px);
}
   
.translate-left:hover {
    transform: translateX(-8px);
}

.translate-above:hover {
    transform: translateY(-8px);
}

.bold-text {
    font-weight: bold;
}

.bi {
    color: white;
}

.middle-row {
    margin-top: 4vh !important;
}

.icon-size {
    font-size: 5vw !important;
}

.icon-left {
    margin-right: 1vw;
}

.icon-right {
    margin-left: 1vw;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.img-fluid {
    max-width: 25vw !important;
    max-height: 40vh !important;
    transition: transform 0.5s ease;
}

.img-fluid:hover {
    animation: rotateAnimation 1.5s linear 0.75s;
}

@media (min-width: 768px) {
    .navbar {
        font-size: 1vw;
    }    

    @media (min-width: 1921px) {
        .middle-row {
            margin-top: 17.5vh !important;
        }

        .icon-size {
            font-size: 6rem !important;
        }

        .img-fluid {
            max-width: 40vw !important;
            max-height: 40vh !important;
        }
    }

    @media (min-height: 701px) and (max-height: 841px) {
        .middle-row {
            margin-top: 2vh !important;
        }

        .img-fluid {
            max-height: 30vh !important;
        }
    }

    @media (max-height: 700px) {
        .groups-justify-content {
            justify-content: start !important;
        }
        
        .discord-justify-content {
            justify-content: end !important;
        }

        .icon-size {
            font-size: 3vw !important;
        }

        .fs-4 {
            display: none;
        }
    }

    @media (max-height: 600px) {
        .img-fluid {
            max-height: 27vh !important;
        }
    }
}

@media (max-width: 767px) {
    .middle-row {
        margin-top: 3vh !important;
    }

    .icon-size {
        font-size: 13vw !important;
    }

    .img-fluid {
        max-width: 45vw !important;
        max-height: 50vh !important;
    }

    @media (min-width: 407px) and (max-width: 500px) {
        .middle-row {
            margin-top: 1.5vh !important;
        }

        .icon-size {
            font-size: 5.5vh !important;
        }

        .img-fluid {
            max-width: 30vw !important;
            max-height: 20vh !important;
        }
    }

    @media (min-width: 501px) and (max-width: 600px) {
        .middle-row {
            margin-top: 2vh !important;
        }

        .icon-size {
            font-size: 6vh !important;
        }

        .img-fluid {
            max-width: 25vw !important;
            max-height: 20vh !important;
        }
    }

    @media (min-width: 601px) and (max-width: 700px) {
        .middle-row {
            margin-top: 1vh !important;
        }

        .icon-size {
            font-size: 6.5vh !important;
        }

        .img-fluid {
            max-width: 20vw !important;
            max-height: 20vh !important;
        }
    }

    @media (min-width: 701px) {
        .middle-row {
            margin-top: 0.5vh !important;
        }

        .icon-size {
            font-size: 7vh !important;
        }

        .img-fluid {
            max-width: 25vw !important;
            max-height: 20vh !important;
        }
    }


    @media (min-height: 700px) and (max-height: 799px) {
        .icon-size {
            font-size: 6.5vh !important;
        }

        .img-fluid {
            max-width: 30vw !important;
            max-height: 45vh !important;
        }
    }

    @media (min-height: 800px) and (max-height: 899px) {
        .icon-size {
            font-size: 7.5vh !important;
        }

        .img-fluid {
            max-width: 30vw !important;
            max-height: 45vh !important;
        }
    }

    @media (min-height: 900px) {
        .icon-size {
            font-size: 8vh !important;
        }

        .img-fluid {
            max-width: 30vw !important;
            max-height: 60vh !important;
        }
    }

    .groups-justify-content {
        justify-content: center !important;
    }
    
    .discord-justify-content {
        justify-content: center !important;
    }

    .translate-below:hover, .translate-right:hover, .translate-left:hover, .translate-above:hover {
        transform: translateY(-6px);
    }

    .icon-left {
        margin-right: 3vw;
    }
    
    .icon-right {
        margin-left: 3vw;
    }
    
    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(180deg); /* Pausa dopo la rotazione di 180 gradi */
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .img-fluid:hover {
        animation: rotateAnimation 1.25s linear 0.5s;
    }
}

@media (max-width: 406px) {
    .middle-row {
        margin-top: 4vh !important;
    }

    .fs-4 {
        display: none;
    }

    @media (min-height: 801px) {
        .icon-size {
            font-size: 7vh !important;
        }

        .img-fluid {
            max-width: 45vw !important;
            max-height: 45vh !important;
        }
    }

    @media (min-height: 700px) and (max-height: 800px) {
        .icon-size {
            font-size: 6vh !important;
        }
    
        .img-fluid {
            max-width: 45vw !important;
            max-height: 40vh !important;
        }
    }

    @media (min-height: 601px) and (max-height: 700px) {
        .icon-size {
            font-size: 5vh !important;
        }
    
        .img-fluid {
            max-width: 45vw !important;
            max-height: 40vh !important;
        }
    }
}