/* Copyright © 2023 Matteo Collica (Matypist) */

/* https://github.com/sapienzastudentsnetwork/sapienzastudentsnetwork.github.io */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #132441 !important;
}

a, a:hover, a:active, a:visited {
    text-decoration: none !important;
    cursor: pointer;
    transition: transform 150ms;
    transition: filter 0.3s ease;
}

a:hover {
    filter: brightness(0.9); /* Darkens the element by reducing brightness */
}

.white-color {
    color: white !important;
}

.groups-justify-content {
    justify-content: start !important;
}

.discord-justify-content {
    justify-content: end !important;
}

.translate-below:hover {
    transform: translateY(8px);
}

.translate-right:hover {
    transform: translateX(8px);
}
   
.translate-left:hover {
    transform: translateX(-8px);
}

.translate-above:hover {
    transform: translateY(-8px);
}

.bold-text {
    font-weight: bold;
}

.bi {
    color: white;
    font-size: 5em;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.img-fluid {
    transition: transform 0.5s ease;
}

.img-fluid:hover {
    animation: rotateAnimation 1.5s linear 0.75s;
}

.navbar {
    height: 6vh;
    font-size: 2vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 10vh);
}

@media (min-width: 768px) {
}

@media (max-width: 767px) {
    .container {
        height: calc(100vh - 6vh);
    }

    .bi {
        font-size: 3em;
    }

    .img-fluid {
        max-width: 9em !important;
        max-height: 9em !important;
    }

    .groups-justify-content {
        justify-content: center !important;
    }
    
    .discord-justify-content {
        justify-content: center !important;
    }

    .translate-below:hover, .translate-right:hover {
        transform: translateY(6px);
    }

    .translate-left:hover, .translate-above:hover {
        transform: translateY(-6px);
    }
    
    @keyframes rotateAnimation {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(180deg); /* Pausa dopo la rotazione di 180 gradi */
        }

        100% {
            transform: rotate(0deg);
        }
    }

    .img-fluid:hover {
        animation: rotateAnimation 1.25s linear 0.5s;
    }
}

@media (max-width: 406px) {
    .fs-4 {
        display: none;
    }
}